{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <title> {% block title %}{% endblock title %} My Website</title>
  <link rel="icon" type="image/x-icon" href="/static/images/title.png"> 
</head>
<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>W</span>ilfex <span>K</span>ipchirchir</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <!-- <li><a href="#services" data-after="Service">Services</a></li> -->
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>My Name is <span></span></h1>
        <h1>Wilfex <span></span></h1>
        <h1>A Software Engineer <span></span></h1>
        <a href="#projects" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
  <!-- Service Section -->
  <!-- <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Serv<span>i</span>ces</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum deleniti maiores pariatur assumenda quas
          magni et, doloribus quod voluptate quasi molestiae magnam officiis dolorum, dolor provident atque molestias
          voluptatum explicabo!</p>
      </div>
      <div class="service-bottom">
        {% for services in services %}
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
          <h2>{{services.service_name}}</h2>
          <p>{{services.details}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section> -->
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        {% for projects in projects %}  
        <div class="project-item">
          <div class="project-info">
            <h1>{{ projects.name }}</h1>
            <!-- <h2>Coding is Love</h2> -->
            <p>{{ projects.description }}</p>
            <div class="button--a">
              <div class="button">
                <a href="{{ projects.github }}" target="_blank" rel="noopener noreferrer" class="btn text-dark see-project bg-light border">{{ projects.github_name }}<i class="fa fa-github"></i></a>
              </div>
              <div class="button">
                <a href="{{ projects.live_server }}" target="_blank" rel="noopener noreferrer" class="btn text-dark see-project bg-light border"><i class="fa fa-github"></i>{{ projects.liver_server_name}}</a>
              </div>
            </div>
          </div>
          <div class="project-img">
            <img src="{{ projects.image.url }}" alt="img">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    
    <div class="about container">
      {% for abouts in abouts %}
      <div class="col-left">
        <div class="about-img">
          <img src="{{ abouts.image.url }}"  alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <h2>{{abouts.title}}</h2>
        <p>{{abouts.description}}</p>
        <!-- <button  class="cta"><a>{{abouts.resume}}</a>Download Resume</button> -->
         <a href="{{ abouts.resume.url }}"  download="{{ abouts.resume.url }}" class="cta">{{abouts.resume_name}}</a>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      
      {% for contacts in contacts %}
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <a href="tel:+254721858115"><h2>{{contacts.phone}}</h2></a>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <a href="mailto:wilfex81@gmail.com"><h2>{{contacts.email}}</h2></a>
          </div>
        </div>
        <!-- <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/50/undefined/linkedin.png" /></div>
          <div class="contact-info">
            <h1>linkedIn</h1>
            <a href="{{contacts.linkedin}}"><h2>{{contacts.linkedin}}</h2></a>
          </div>
        </div>
        <br> -->
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/50/undefined/whatsapp.png" /></div>
          <div class="contact-info">
            <h1>Whatsapp</h1>
            <a href="{{contacts.whatsapp}}" target="_blank"><h2>{{contacts.whatsapp_name}}</h2></a>
          </div>
        </div>
        <!-- <div class="contact-item">
          <div class="icon"><a href="https://www.linkedin.com/in/wilfex" target="_blank" rel="noopener noreferrer"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></a></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>Nairobi Kenya <sup>ke</sup></h2>
          </div> -->
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    
    {% for footer in footer %}
    <div class="footer container">
      <div class="brand">
        <h1><span>W</span>ilfex <span>K</span>ipchirchir</h1>
      </div>
      <h2>{{footer.title}}</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="{{ footer.linkedin}}" target="_blank" ><img
              src="https://img.icons8.com/bubbles/50/undefined/linkedin.png" /></a>
        </div>
        <div class="social-item">
          <a href="{{ footer.whatsapp }}" target="_blank" ><img
              src="https://img.icons8.com/bubbles/50/undefined/whatsapp.png" /></a>
        </div>
      </div>
      <p>Copyright © 2022 Wilfex. All rights reserved</p>
    </div>
    {% endfor %}
  </section>
  <!-- End Footer -->
  <script src=" {% static 'styles/app.js' %} "></script>
</body>

</html>